
<h2> Number of images - </h3>
<p><%= @urls.size %> </p>

<h2> Sites browsing currently </h3>
<% @sites.each do |var| %>
    <%=h var %><br>
<% end %>

<% @urls.each do |url| %>
 	<%= link_to( image_tag(url), url.to_s) %>


<% end %>


<% @urls.each do |var| %>
    <%=h var %><br>
<% end %>