body {
  background-color: black;
  color: white  ;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align:center;

}


div.pagitems{
   position:relative;
   float:bottom;
}

div.item {  
  float:left;
  margin:5px;
  position:relative; /* important(so we can absolutely position the description div */
}

div.spinner {

}

img {
    max-width: 250px;
    height: auto;
}


div.navbar
{
display:block;
float:left;
width:100%;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:10px;
text-decoration:none;
}
a:hover,a:active
{
background-color:blue ;
}